form {
  padding: 2em 0;
}

label {
  display: block;
}

input,
textarea {
  border: 1px solid $med-gray;
  border-radius: 5px;
}

input,
textarea {
  width: 90%;
  padding: 1em;
  margin-bottom: 1em;
}

button {
  padding: 6px;
  border: 1px solid $link;
  background-color: $link;
  color: #fff;
  cursor: pointer;
}
